@model IndexViewModel

@{
    ViewBag.Title = "Food Market";
    ViewBag.Description = "We sell stuff!";
    ViewBag.Keywords = "food grain rice";
    //ViewData.Add("Title", "Food Market");
    //ViewData.Add("Description", "We sell stuff!");
    //ViewData.Add("Keywords", "food grain rice");
    var base_path = Context.Request.PathBase;
}
@*<h2>Home Page!</h2>

<img src="~/content/static/polina-rytova-1dGMs4hhcVA-unsplash.jpg" width="500"/>*@
<div class="main-img">
    <span class="title">Food Market</span>
</div>

<div class="container">
    @*<ul>
            @foreach (var item in Model)
           {
               <li>
                   <a asp-controller="Home" asp-action="Item" asp-route-id="@item.Id">
                       @item.Title
                   </a>
               </li>
           }
        </ul>*@

    <partial name="_Pagination" model="Model"></partial>

    @foreach (var item in Model.Items)
    {
        var image_path = $"{base_path}/Image/{item.Image}";
        <a asp-controller="Home" asp-action="Item" asp-route-id="@item.Id" class="item">
            <img src="@image_path" width="500" />
            <span class="title">
                @item.Title
            </span>
        </a>
    }

    <partial name="_Pagination" model="Model"></partial>

</div>