@model Item

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    //ViewBag.Keywords = $"{Model.Tags?.Replace(',', ' ').Replace("  ", " ")} {Model.Category}";
    var base_path = Context.Request.PathBase;
}

@*<h2>@Model.Title</h2>

@if (!String.IsNullOrEmpty(Model.Image))
{
    var image_path = $"/Image/{Model.Image}";
    <img src="@image_path" width="500"/>
}

<p>@Model.Body</p>*@

<div class="container">
    <div class="item no-shadow">
        <span class="title">
            @Model.Title
        </span>
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"{base_path}/Image/{Model.Image}";
            <img src="@image_path" width="500"/>
        }
    </div>
    <div class="item-body">
        @*@Html.Raw(Model.Body)*@
        Price: @Model.Price Taka
        <br />
        @Model.Stock items left!
    </div>
    <div>@if (User.IsInRole("Buyer") && Model.Stock > 0)
        {
            <a asp-controller="Home" asp-action="BuyItem" asp-route-id="@Model.Id">
                <input type="button" class="btn btn-primary" value="Buy" />
            </a>
        }
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment-section">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel() { ItemId = Model.Id, MainCommentId = 0 });
            }
            @foreach (var c in Model.MainComments)
            {
                <hr />
                <p>
                    @c.Message --- @c.Created
                </p>
                
                <div style="margin-left:20px;">

                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel() { ItemId = Model.Id, MainCommentId = c.Id });
                    }
                    @if (c.SubComments != null && c.SubComments.Count > 0)
                    {
                        <h4>SubComments</h4>
                        @foreach (var sc in c.SubComments)
                        {
                            <p>
                                @sc.Message --- @sc.Created
                            </p>
                        }
                    }

                </div>
            }
        </div>
    }
    else
    {
        <div>
            <a asp-controller="Auth" asp-action="Login">Sign In</a> to comment
        </div>
    }
</div>